<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
  </ul>

  <div class="jumbotron">
    <h1>Disaster Management
      <small>Precaution Advisor</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span style=" font-weight:bold; font-size: 14pt;">District Suspected</span>
    </div>
    <div class="col-md-6">
      <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
          <!--DISTRICT <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul id="district_id" class="dropdown-menu" role="menu">-->
        <!--</ul>-->
      <!--</div>-->
      <select id="district_id"></select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 3px;"></div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <span style=" font-weight:bold; font-size: 14pt;">Category</span>
    </div>
    <div class="col-md-6">
      <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">CATEGORY-->
          <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
        <!--</ul>-->
      <!--</div>-->
      <select id="disaster_id"></select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 3px;"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table id="resource_id" class="table table-bordered" style="visibility: hidden;">
        <thead>
        <tr>
          <th>S.No</th>
          <th>Resource</th>
          <th>Needed</th>
          <th>Current Availability</th>
          <th>No. to borrow</th>
          <th>Addition Info</th>
        </tr>
        </thead>
        <tbody id="availabilit_table_id">
        <tr>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>S.No</th>
          <th>Municipalities</th>
          <th>No.</th>
          <th>Distance</th>
          <th>Time Taken</th>
          <th>Allocated No.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
          <td>Sample</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>