<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
  </ul>

  <div class="jumbotron">
    <h1>Disaster Management
      <small>Precaution Advisor</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span style=" font-weight:bold; font-size: 14pt;">District Suspected</span>
    </div>
    <div class="col-md-6">
      <select id="district_id"></select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 3px;"></div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <span style=" font-weight:bold; font-size: 14pt;">Category</span>
    </div>
    <div class="col-md-6">
      <select id="disaster_id"></select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 3px;"></div>
  </div>

  <div class="row" id="resource_id" style="visibility: hidden;">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Resource</th>
          <th>Needed</th>
          <th>In-House Availability</th>
          <th>To Source</th>
          <th>Sourcing Info.</th>
        </tr>
        </thead>
        <tbody id="availabilit_table_id">
        </tbody>
      </table>

    </div>
  </div>

  <div class='row' id="item_row_id" style="visibility: hidden;">
    <div class="col-md-6">
      <span style=" font-weight:bold; font-size: 14pt;">Resource to be Sourced : </span>
      <span id="selected_resource_id" style=" font-weight:bold; font-size: 14pt;"></span>
    </div>
  </div>

  <div class="row" id="item_needed_table" style="visibility: hidden;">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>District</th>
          <th>Municipality</th>
          <th>Availability</th>
          <th id="distance_id"></th>
          <th></th>
        </tr>
        </thead>
        <tbody id="item_details_id">
        <tr>

        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
