<header class="navbar navbar-inverse bs-docs-nav">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Disaster Management Planner</div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">District</span>
        <select class="form-control" id="district_id"></select>
      </div>

      <br />
      
      <div class="input-group">
        <span class="input-group-addon">Category</span>
        <select class="form-control" id="disaster_id"></select>
      </div>
    </div>

    <div class="col-md-8" id="resource_id" style="visibility: hidden;">
      <table class="table">
        <thead>
        <tr>
          <th>Resource</th>
          <th>Needed</th>
          <th>In-House Availability</th>
          <th>To Source</th>
          <th>Sourcing Info.</th>
        </tr>
        </thead>
        <tbody id="availabilit_table_id">
        </tbody>
      </table>
    </div>
  </div>

  <div class='row' id="item_row_id" style="visibility: hidden;">
    <div class="col-md-10">
      <span style=" font-weight:bold; font-size: 14pt;">Resource to be Sourced : </span>
      <span id="selected_resource_id" style=" font-weight:bold; font-size: 14pt;"></span>
    </div>
  </div>

  <div class="row" id="map_id" style="visibility: hidden; padding: 10px;">
    <div id="map" class="col-md-12"></div>
  </div>

  <div class="row" id="item_needed_table" style="visibility: hidden; padding: 10px;">
    <div class="col-md-8">
      <table class="table">
        <thead>
        <tr>
          <th>District</th>
          <th>Municipality</th>
          <th>Availability</th>
          <th id="distance_id"></th>
          <th></th>
        </tr>
        </thead>
        <tbody id="item_details_id">
        <tr>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <h3><span>Total Needed : </span></h3>
      <h2><span id="total_qty_needed" class="label label-success"></span></h2>

      <h3><span>Still Needed: </span></h3>
      <h2><span id="remaining_needed" class="label label-danger"></span></h2>
    </div>
  </div>

</div>
